name: Print from file
on: push
jobs:
  print:
    runs-on: ubuntu-latest
    steps: 
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: print hello-world on terminal
        run: echo "$(hello_world.txt)"
